body {
  background: url('http://fabiusmaximus.files.wordpress.com/2012/07/20120730-tinkerbell-dusting1.gif') right no-repeat;
  background-color: lightpink;
}

#show-contact {
 display: none;
 margin-top:350px;
 background: white;
 opacity: .8;
 text-align: right;
}

#tinkerbellpopup {
  display: none;
}

ul {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.pink {
  background: purple;
  border: 2px solid white;
  color: white;
}

.pink:hover {
  color: white;
}

